body {
  background: #ffffff;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-text {
  padding-top: 100px;
  padding-left: 40px;
}
.banner-text h2{
  font-size: 60px;
  line-height: 130%;
  font-weight: 700;
  text-align: left;
}
.banner-text p {
  color: #828282;
  padding-bottom: 20px;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(#fba24f, #ff1e1e);
  color: #ffffff;
  padding: 10px 20px;

  border-radius: 100px;
}
.half-width {
  width: 50%;
}

.orange {
  color: orange;
}
.main-banner-image img{
  width: 100%;
}
.about-section{
  background-image: url(images/about-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}
.about-image{

}
.about-image img{
  padding-top: 90px;
  width: 100%;
  height: auto;
  padding-left: 150px;
}
.about-text{
  padding-left: 250px;
  padding-right: 200px;
  padding-top: 80px;
}
.about-text h3{
  font-size: 40px;
  font-weight: 400;
  color: #707070;
}
.about-text p{
  text-align: justify;
  font-size: 16px;
  color: #707070;
}
.my-recipies{
  padding-bottom: 80px;
}
.my-recipies h3{
  font-size: 36px;
  color: #676767;
  text-align: center;
}
.my-recipies p{
  text-align: center;
  font-size: 18px;
  color: #252525;
  padding-left: 30%;
  padding-right: 30%;
}
.recipe-list{
  width: 30%;
  padding-right: 20px;
  padding-left: 20px;
  box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 20%);
  border-radius: 10px;
}
.recipe-list img{
  width: 100%;
  padding-right: 20px;
  height: auto;
}
.recipe-list h3{
text-align: left;
padding-left: 15px;
font-size: 28px;
color: #18191F;
}
.recipe-list p{
text-align: left;
padding-left: 15px;
font-size: 18px;
color: #18191F;
}
.social-container{
  height: auto;
  width: 68%;
  margin-left: 16%;
  margin-bottom: 30px;
  box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 20%);
  border-radius: 10px;
  padding-bottom: 40px;
}
.social-items h4{
text-align: center;
font-size: 48pt;
padding-right: 60px;
}
.social-items p{
  font-size: 16px;
  color: #18191F;
}
footer{
  padding-top: 20px;
  height: 150px;
  background: black;
}
footer h3 {
  font-size: 30px;
  text-align: center;
}
footer h3 span{
  color: orange;
}
footer h3{
  color: #5B5B5B;
}
footer p {
  color: #ffffff;
  text-align: center;
}