body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 60px;
  line-height: 130%;
  font-weight: 800;
  text-align: left;
}
p {
  color: #828282;
  padding-bottom: 20px;
}
.flex-container {
  display: flex;
}
.banner-text {
  padding-top: 100px;
  padding-left: 40px;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(#fba24f, #ff1e1e);
  color: #ffffff;
  padding: 10px 20px;

  border-radius: 100px;
}
.half-width {
  width: 50%;
}

.orange {
  color: orange;
}
.main-banner-image img{
  width: 100%;
}
.about-section{
  background-image: url(images/about-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}
.about-image{

}
.about-image img{
  padding-top: 90px;
  width: 100%;
  height: auto;
  padding-left: 150px;
}
.about-text{
  padding-left: 250px;
  padding-right: 200px;
  padding-top: 80px;
}
.about-text h3{
  font-size: 40px;
  font-weight: 400;
  color: #707070;
}
.about-text p{
  text-align: justify;
  font-size: 16px;
  color: #707070;
}